/* clases & ids de Login de Sistema de Correos */

#section_login_completo {
    width: 100%;
    background-color: #323232;
}

#section_login_completo div {
    width: auto;
    text-align: center;
}

#section_login_completo div h1 {
    color: white;
    font-family: Lato;
    font-weight: bold;
    font-size: 25px
}

#section_login_completo div h3 {
    color: white;
    font-family: Lato;
    font-weight: bold;
    font-size: 20px;
    margin: 45px 0 0 0;
}

#section_login_completo h5 {
    color: white;
}

.login_input_container {
    white-space: nowrap;
    background-color: white;
    border-radius: 35px;
    margin: 30px;
    padding: 10px 0;
}

.login_input_container i {
    display: inline-block;
}

.login_input_container input {
    display: inline-block;
    height: 35px;
    margin: 0;
    background-color: transparent;
    border: none;
    padding: 0 5px;
}